<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../images/logo.png" alt="Logo" id="logo" width="150" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="" target="_blank">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html" target="_blank">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="courses.html" target="_blank">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html" target="_blank">Contact</a>
          </li>
          <li class="nav-link">
            <button id="mode" class="mode">
              <i class="fa-solid fa-moon"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
</nav>
<!-- Hero Section -->
<section id="hero" class="d-flex justify-content-center align-items-center">
    <article class="text-white container">
        <h1>Enhance Your Future With TechEduca</h1>
        <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, vitae. Accusantium fugiat illo, et reprehenderit inventore nisi aliquam itaque, quidem optio, similique sapiente nulla! Consequuntur provident ipsam odio omnis.</p>
        <div class="buttons mt-5">
            <a href="#" class="me-3 text-decoration-none">Learn More</a>
            <a href="#" class="text-decoration-none">Visit Courses</a>
        </div>
    </article>
</section>
<!-- Features -->
<section id="feature" class="padding">
    <div class="container">
        <div id="title">
          <h2>Awesome Feature</h2>
          <p>Replenish man have thing gathering lights yielding shall you</p>
        </div>
        <div id="grid">

        </div>
    </div>
</section>
<!-- Courses -->
<section id="course" class="padding">
  <div class="container">
    <div id="title">
      <h2>Popular Courses</h2>
      <p>Replenish man have thing gathering lights yielding shall you</p>
    </div>
    <div id="courses"></div>
  </div>
</section>
<!-- Register -->
<section id="register" class="padding">
  <div class="container">
    <article class="text-white">
      <p>Get 100 Online Courses for Free</p>
      <h2>Register To Get it</h2>
      <div class="date d-flex gap-2">
        <div class="box">
          <p class="number">00</p>
          <p>Days</p>
        </div>
        <div class="box">
          <p class="number">00</p>
          <p>Hours</p>
        </div>
        <div class="box">
          <p class="number">00</p>
          <p>Mins</p>
        </div>
        <div class="box">
          <p class="number">00</p>
          <p>Secs</p>
        </div>
      </div>
    </article>
    <form action="#" class="bg-white p-4 rounded-3">
      <h4 class="mb-3">Create Free Account NOW!</h4>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Name" required />
      </div>
      <div class="mb-3">
        <input type="email" class="form-control"  placeholder="example@gmail.com" required />
      </div>
      <div class="mb-3">
        <input type="text" class="form-control"  placeholder="Phone Number" required />
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Visit Courses</button>
      </div>
    </form>
  </div>
</section>
<!-- Portfolio -->
<section id="portfolio" class="padding">
  <div class="container">
    <div id="title">
      <h2>Community Experts</h2>
      <p>Replenish man have thing gathering lights yielding shall you</p>
    </div>
    <div id="community">
      
    </div>
  </div>
</section>
<!-- Footer -->
<footer id="footer" class="pt-5 bg-dark">
  <div class="container">
    <article id="contact" class="mb-3">

    </article>
    <footer class="foot d-flex justify-content-between align-items-center py-3">
      <p class="mb-0">Copyright 2024&copy; All rights reserved | This Template is made by Ahmad Mayallo </p>
      <div class="socials">
        <a href="" class="btn btn-outline-light"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="" class="btn btn-outline-light mx-2"><i class="fa-brands fa-instagram"></i></a>
        <a href="" class="btn btn-outline-light"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </footer>
  </div>
</footer>
</body>
</html>